{% extends 'subprojects/mobile/layout/mobile_base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">{% translate 'Collection Tool' %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'subprojects:mobile:register-menu' %}" class="btn btn-block btn-warning custom-button">
                            <div class="button-content">
                                <i class="fas fa-file-contract"></i>
                                <span>{% translate 'Registration' %}</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'subprojects:mobile:submit-activity' %}" class="btn btn-block btn-danger custom-button">
                            <div class="button-content">
                                <i class="fas fa-file-alt"></i>
                                <span>{% translate 'Submit Activity' %}</span>
                            </div>
                        </a>
                    </div>
                </div>
{% endblock %}