{% extends 'subprojects/mobile/layout/mobile_base.html' %}
{% load static i18n bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="text-center">{% translate 'Register' %}</p>
        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.administrative_level %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.is_for_multiple_communities %}
            </div>
        </div>
        <div class="row" id="idOtherAdministrativeLevelsRow" style="display: none;">
            <div class="col-12">
                {% bootstrap_field form.other_administrative_levels %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.name %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.objective %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.description %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.activity_sector %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.estimate_cost %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.community_grant_agreement_reference %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.sub_component %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.project_management %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.type %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="submit" class="btn btn-warning btn-block" value="{% translate 'Create Subproject' %}">
            </div>
        </div>
    </form>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
    
        function initialize_select(administrative_unit_id){
            
            let url = "{% url 'administrativelevels:api:administrative-level-children' '1' %}";
            let element = $('#id_other_administrative_levels');
            url = url.replace('1', administrative_unit_id);
            element.attr('disabled', true);
        
            $.ajax({
                url: url,
                success: function(data) {
                    element.empty();
                    $.each(data, function() {
                        element.append($("<option />").val(this.id).text(this.name));
                    });
                    element.attr('disabled', false);
                }
            });
        }
    
        $( document ).ready(function() {
            $( '#id_is_for_multiple_communities' ).change(function () {
                const multiple_administrative_units_input = $('#idOtherAdministrativeLevelsRow')
                if( $( this ).is(':checked') ) {
                    initialize_select($('#id_administrative_level').val());
                    multiple_administrative_units_input.fadeIn()
                }else{
                    multiple_administrative_units_input.fadeOut()
                }
            });
            
            $( '#id_administrative_level' ).change( function () {
                initialize_select($( this ).val());
            });
            
        });
        
    </script>
{% endblock %}