{% extends 'subprojects/mobile/layout/mobile_base.html' %}
{% load static i18n bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card card-primary mt-3 mb-4 shadow">
            <div class="card-header text-center">
                <h4 class="card-title mb-0">{% translate 'Register Subproject' %}</h4>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        {% bootstrap_field form.external_id show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.administrative_level show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.is_for_multiple_communities show_label=True %}
                    </div>
                    <div class="form-group" id="idOtherAdministrativeLevelsRow" style="display: none;">
                        {% bootstrap_field form.other_administrative_levels show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.name show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.objective show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.description show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.activity_sector show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.estimate_cost show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.community_grant_agreement_reference show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.sub_component show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.project_management show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.type show_label=True %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.beneficiary_groups show_label=True %}
                    </div>
                    <div class="form-group mb-0 d-flex justify-content-between">
                        <a href="{% url 'subprojects:mobile:index' %}" class="btn btn-outline-secondary btn-lg mr-2" style="flex:1;">
                            <i class="fas fa-times mr-1"></i>
                            {% translate 'Cancel' %}
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fas fa-save mr-1"></i>
                            {% translate 'Save' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    function initialize_select(administrative_unit_id){
        let url = "{% url 'administrativelevels:api:administrative-level-children' '1' %}";
        let element = $('#id_other_administrative_levels');
        url = url.replace('1', administrative_unit_id);
        element.attr('disabled', true);

        $.ajax({
            url: url,
            success: function(data) {
                element.empty();
                $.each(data, function() {
                    element.append($("<option />").val(this.id).text(this.name));
                });
                element.attr('disabled', false);
            }
        });
    }

    $( document ).ready(function() {
        $('#id_is_for_multiple_communities').change(function () {
            const multiple_administrative_units_input = $('#idOtherAdministrativeLevelsRow')
            if ($(this).is(':checked')) {
                initialize_select($('#id_administrative_level').val());
                multiple_administrative_units_input.fadeIn();
            } else {
                multiple_administrative_units_input.fadeOut();
            }
        });

        $('#id_administrative_level').change(function () {
            initialize_select($(this).val());
        });
    });
</script>
{% endblock %}