{% extends 'layout/base.html' %}
{% load static i18n bootstrap4 %}

{% block content %}
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-9 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">{% translate 'Report by' %}</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{ object.created_by.get_full_name|default:object.created_by.email }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">{% translate 'Created' %}</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{ object.created_at|date:"d M, Y - P" }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">{% translate 'Updated' %}</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{ object.updated_at|date:"d M, Y - P" }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-8">
                                <h4>{% translate 'Description' %}</h4>
                                <p class="text-muted">
                                    <b class="d-block">{{ object.description }}</b>
                                </p>
                            </div>
                            <div class="col-12 col-sm-4">
                                <a href="{% url 'trackableobjects:follow_up_event_object_create' object.pk %}" class="btn btn-block btn-default">Create follow up event</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <h4>{% translate 'Subprojects' %}</h4>
                                
                                <table id="table-subprojects" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>{% translate 'Actions' %}</th>
                                        <th>{% translate 'Created by' %}</th>
                                        <th>{% translate 'Date' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for instance in instances %}
                                        <tr>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{% url 'trackableobjects:trackable_object_instance_detail' instance.id %}"
                                                            class="btn btn-default btn-flat response-info">
                                                        <i class="fas fa-info text-primary"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>{{ instance.created_by.get_full_name|default:object.created_by.email }}</td>
                                            <td>{{ instance.updated_at|date:"d M, Y - P" }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-sm-6">
                                <h4>{% translate 'Follow up event' %}</h4>
                                
                                <table id="table-subprojects" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>{% translate 'Actions' %}</th>
                                        <th>{% translate 'Name' %}</th>
                                        <th>{% translate 'Date' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for follow_up_event in object.follow_up_events.all %}
                                        <tr>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{% url 'trackableobjects:follow_up_event_object_detail' follow_up_event.id %}"
                                                            class="btn btn-default btn-flat response-info">
                                                        <i class="fas fa-info text-primary"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>{{ follow_up_event.name }}</td>
                                            <td>{{ follow_up_event.updated_at|date:"d M, Y - P" }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 order-1 order-md-2">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <h4>{% translate 'Form Preview' %}</h4>
                                    {% for field in form %}
                                        {% if field.field.widget.input_type == "file" %}
                                            {% bootstrap_field field form_group_class="custom-file" label_class="custom-file-label" %}
                                        {% else %}
                                            {% bootstrap_field field %}
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
