{% extends 'layout/base.html' %}
{% load static i18n custom_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3 search-bar">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" id="search" placeholder="{% translate 'Search' %}...">
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        {% if user.is_superuser or user|has_group:"Admin" %}
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary" href="{% url 'trackableobjects:trackable_object_create' %}">{% translate 'Create' %} {% translate 'Trackable Object' %}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table id="table-subprojects" class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% translate 'Actions' %}</th>
                            <th>{% translate 'Name' %}</th>
                            <th>{% translate 'Description' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trackable_object in object_list %}
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <!-- Update Info (functional) -->
                                        <a href="{% url 'trackableobjects:trackable_object_edit' trackable_object.pk %}"
                                           class="btn btn-default btn-flat">
                                            <i class="fas fa-pencil-alt text-primary"></i>
                                        </a>
                                        
                                        <!-- Detail Info (functional) -->
                                        <a href="{% url 'trackableobjects:trackable_object_detail' trackable_object.pk %}"
                                           class="btn btn-default btn-flat">
                                            <i class="fas fa-info"></i>
                                        </a>

                                        <!-- Trigger inside the group -->
                                        <button type="button"
                                                class="btn btn-default btn-flat"
                                                data-toggle="modal"
                                                data-target="#confirmDeleteModal"
                                                data-url="{% url 'trackableobjects:trackable_object_delete' trackable_object.pk %}"
                                                data-name="{{ trackable_object.name }}"
                                                title="Delete">
                                            <i class="fas fa-trash text-danger"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>{{ trackable_object.name }}</td>
                                <td>{{ trackable_object.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modals %}
    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Confirm deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    This action cannot be undone. Delete "<span class="object-name"></span>"?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <form method="post" action="" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table = $('#table-subprojects').DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "ltipr",
                columnDefs: [
                    {
                        targets: 1,
                        orderable: false,
                        searchable: true,
                    }
                ],
                lengthMenu: [10, 50, 100],
                pageLength: 10,
                order: [[0, 'desc', 'desc']]
            });
            $('#search').on('keyup', function () {
                table.search($(this).val()).draw();
            });

            $('#confirmDeleteModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget);
                let url = button.data('url');
                let name = button.data('name');

                let modal = $(this);
                modal.find('form').attr('action', url);
                modal.find('.object-name').text(name || 'this item');
            });
        });
    </script>
{% endblock %}


    
