{% extends 'layout/base.html' %}
{% load static i18n custom_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3 search-bar">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" id="search" placeholder="{% translate 'Search' %}...">
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        {% if user.is_superuser or user|has_group:"Admin" %}
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary" href="{% url 'subprojects:subproject_create' %}">{% translate 'Create' %} {% translate 'Subproject' %}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table id="table-subprojects" class="table">
                        <thead>
                        <tr>
                            <th>{% translate 'Actions' %}</th>
                            <th>{% translate 'Name' %}</th>
                            <th>{% translate 'Description' %}</th>
                            <th>{% translate 'Status' %}</th>
                            <th>{% translate 'Start date' %}</th>
                            <th>{% translate 'End date' %}</th>
                            <th>{% translate 'Latitude' %}</th>
                            <th>{% translate 'Longitude' %}</th>
                            <th>{% translate 'Contractors' %}</th>
                            <th>{% translate 'Administrative level' %}</th>
                            <th>{% translate 'Latest construction rate' %}</th>
                            <th>{% translate 'Latest disbursement rate' %}</th>
                            <th>{% translate 'Beneficiary groups' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subproject in object_list %}
                            <tr id="subproject-{{ subproject.pk }}">
                                <td>
                                    <button class="btn btn-xs btn-outline-primary"
                                            title="{% translate 'Edit' %}"
                                            hx-get="{% url 'subprojects:subproject_update' subproject.pk %}"
                                            hx-target="#subprojectModalBody"
                                            hx-trigger="click"
                                            hx-swap="innerHTML"
                                            data-toggle="modal"
                                            data-target="#subprojectModal">
                                            <i class="fas fa-pencil-alt"></i>
                                    </button>
                                </td>
                                <td align="left">{{ subproject.name }}</td>
                                <td>{{ subproject.description }}</td>
                                <td>{{ subproject.status }}</td>
                                <td>{{ subproject.start_date }}</td>
                                <td>{{ subproject.end_date }}</td>
                                <td>{{ subproject.latitude }}</td>
                                <td>{{ subproject.longitude }}</td>
                                <td>
                                    {% for contractor in subproject.contractors.all %}
                                        <p>{{ contractor.name }}</p>
                                    {% endfor %}
                                </td>
                                <td>{{ subproject.administrative_level }}</td>
                                <td>{{ subproject.latest_construction_rate }}</td>
                                <td>{{ subproject.latest_disbursement_rate }}</td>
                                <td>
                                    {% for beneficiary_group in subproject.beneficiary_groups.all %}
                                        <p>{{ beneficiary_group.name }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modals %}
<div class="modal fade" id="subprojectModal" tabindex="-1" role="dialog" aria-labelledby="subprojectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% translate 'Edit Subproject' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% translate 'Close' %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="subprojectModalBody">
                <!-- form loaded here by HTMX -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table = $('#table-subprojects').DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "ltipr",
                columnDefs: [
                    {
                        targets: 1,
                        orderable: false,
                        searchable: false,
                    }
                ],
                lengthMenu: [10, 50, 100],
                pageLength: 10,
                order: [[0, 'desc']]
            });
            $('#search').on('keyup', function () {
                table.search($(this).val()).draw();
            });
        });
        document.body.addEventListener("htmx:afterSwap", function(event) {
        if (event.detail.target && event.detail.target.id === "popup-messages-content") {
            // Show modals generated by message tags
            $('.messageModal').modal('show');

            // Auto-dismiss alerts after 3 seconds
            setTimeout(() => {
                $('.alert').alert('close');
            }, 3000);
        }
    });
    </script>
{% endblock %}


    
